.contact-info-container{
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
.contact-info-container-title{
    color: #333333;
    font: 36px Ovo;
    // margin: 8% 0% 8% 0%;
    margin: 20px 0px 100px;
}
.contact-info-container-input{
    border: 0px;
    border-bottom: 2px solid #BF9456;
    width: 90%;
    margin:8% 0%;
    font-size: 18px;
}
.contact-info-container-text-area{
    border: 0px;
    border-bottom: 2px solid #BF9456;
    width: 90%;
    margin:8% 0%;
    height: 150px;
    font-size: 18px;
}
.contact-info-container-button{
    width: 40%;
    padding: 4% 5%;
    margin-top: 8%;
    // display: flex;
    // justify-content: center;
    // align-self: center;
}

@media (min-width:"768px"){
    .contact-info-container{
        padding: 5% 15%;
    }
    .contact-info-container-input{
       width: 40%;
       margin: 3%;
    }
    .contact-info-container-text-area{
        width: 85%;
    }
    .contact-info-container-button{
        padding: 2% 1%;
        width: 25%;
        background-color: white;
    }
}
@media (min-width:"1024px"){
    .contact-info-container{
        padding: 5% 15%;
    }
    .contact-info-container-input{
       width: 40%;
       margin: 3%;
    }
    .contact-info-container-text-area{
        width: 85%;
    }
    .contact-info-container-button{
        padding:  1.5% 1%;
        width: 20%;
        background-color: white;
    }
}